<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
<bean name = "aObj" class= "ai.jobiak .source.A" scope=""></bean>
<bean name = "b" class= "ai.jobiak .usesource.B">
<property name = "a" ref = "aObj"></property>
</bean>


<bean name = "aImpl" class= "ai.jobiak .ifaces.AImpl"></bean>
<bean name = "cImpl" class= "ai.jobiak .ifaces.CImpl"></bean>

<bean name="bDigital"
class = "ai.jobiak .ifaces.BDigitall"
scope= "singleton" 
 init-method = "doinit"
destroy-method = "doDestroy">

<property name = "printable" ref = "aImpl"></property>
<constructor-arg ref = "cImpl"></constructor-arg>
 


</bean>



<bean name = "bDigital" class= "ai.jobiak .ifaces.Bdigital">
<property name = "printable" ref = "aImpl"></property>
<constructor-arg ref = "cImpl"></constructor-arg>
</bean>




</beans>
